{% extends 'dashboard.html.twig' %}

{% block title %}New MoyenDeTransport{% endblock %}

{% block body %}
    <h1>Créer un Moyen De Transport</h1>

    {{ include('moyen_de_transport/_form.html.twig') }}
    <br/>
    <a  class="btn btn-info" href="{{ path('moyen_de_transport_index') }}">back to list</a>
{% endblock %}
